/* @tailwind base;
/* @tailwind base;
@tailwind components;
@tailwind utilities; */

form {
position: absolute;
left: 50%;
transform: translate(-50%, -50%);
display: flex;
align-items: center;
justify-content: center;
}



form input[type="text"],
form input[type="date"],
form input[type="number"] {
display: inline-block;
vertical-align: middle;
padding: 10px;
border: none;
border-radius: 5px;
box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

form button[type="submit"] {
display: inline-block;
vertical-align: middle;
margin: 0 5px;
padding: 10px;
background-color: gray;
color: white;
border: none;
border-radius: 5px;
box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
cursor: pointer;
}

form button[type="submit"]:hover {
background-color: black;
color:white;
}
.search-form {
display: flex;
align-items: center;
}

.search-form input {
border: none;
background: none;
padding: 0;
margin: 0;
}

.search-form .reserver {
border: none;
background: none;
padding: 0;
margin: 0;
}
.spane{
background-color:white;
padding: 12px;
color: #4a4a9c;
font-weight: bold;
border-radius: 5px;
}

/* test */
.dropdown {
position: relative;
display: inline-block;
margin-right:90%;
margin-top:-90px;

}

.dropdown-btn {
background-color: transparent;
border: none;
cursor: pointer;
height: 24px;
width: 24px;
padding: 0;
margin: 0;
}

.dropdown-btn span {
display: block;
width: 100%;
height: 3px;
background-color: #fff;
margin: 5px 0;
transition: all 0.3s ease-in-out;

}
.dropdown-content {
display: none;
position: absolute;
top: 32px;
height:370px;
width:300px;
font-size: 16px;
color: #333;
background-color: #fff;
min-width: 160px;
z-index: 1;
border-radius: 4px;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
padding: 8px;
}

.dropdown-content a {
color: #000;
text-decoration: none;
display: block;
padding: 8px 0;
}
.dropdown-content p{
border-bottom: 1px solid black;
font-size:18px;
font-family:arial;
padding-bottom:3px;
text-align:center;
}
.dropdown-content a:hover {
background-color: #eee;
}

.dropdown:hover .dropdown-content {
display: block;
}

.dropdown:hover .dropdown-btn span:nth-child(2) {
opacity: 0;
}

.dropdown:hover .dropdown-btn span:nth-child(1) {
transform: translateY(6px) rotate(45deg);
}

.dropdown:hover .dropdown-btn span:nth-child(3) {
transform: translateY(-6px) rotate(-45deg);
}
form a {
background-color:white;
font-size: 16px;
padding: 10px 30px;
border-radius: 5px;
text-decoration:none;
color:gray;
box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.features {
display: flex;
justify-content: space-around;
margin-bottom: 100px;
margin-top:100px;
color:#6f6f6f;
}

.feature {
display: flex;
align-items: center;
margin-right: 20px;
font-size: large;
}

.feature i {
font-size: 26px;
margin-right: 10px;
}
.why-choose {
display: flex;
flex-direction: column;
align-items: center;
margin-top: 50px;
justify-content: center;
text-align: center;
width:100%;
}

.discover-btn {
margin-top: 30px;
padding: 12px 24px;
font-size: 16px;
font-weight: bold;
color: #fff;
background-color: #000;
border: none;
border-radius: 4px;
cursor: pointer;
text-align: center;
width: 100%;
align-self:center;
max-width: 400px;
text-decoration:none;
}
.stats {
display: flex;
align-items: center;
margin-top: 20px;
flex-direction: column;
flex-wrap:wrap;
gap:30px;
}

.number {
font-size:12rem;
font-weight: bold;
margin-right: 20px;
color:#ADD8E6;
font-family:"Copperplate";

}

.description {
font-size: 28px;
font-weight: bold;
color:#2F4F4F;
}



.discover-btn:hover {
background-color: #333;
}
.why-choose h2{
font-family:"Copperplate Gothic Light";
color:#2F4F4F;
font-size:28px;
}
.slider{
margin-top:50px;
}
.slider img{
width:100%;
height:700px;
}
.slider div {
position: relative;
}
.slider .fixe{
display:flex;
flex-wrap:wrap;
gap:300px;
margin-left:50px;
position: absolute;
width: 100%;
text-align: left;
border-bottom: 2px solid white;
}
.slider .fixe h2{
color:white;
font-family:arial;
font-size:2.5rem;
}
.slider .fixe a{
text-decoration:none;
color:white;
margin-top:45px;
margin-bottom:15px;
font-size:20px;
border: 1px solid black;
padding:10px 20px;
background-color:transparent; 
border-radius: 5px;
}

.slider h3 {
position: absolute;
top: 200px;
left: 0;
width: 100%;
color: white;
padding: 10px;
margin-left:50px;
font-size: 3rem;
text-align: left;
}
.slider p {
position: absolute;
top: 300px;
left: 0;
width: 60%;
color:white;
text-shadow: 2px 2px 5px gray;
padding: 10px;
margin-left:50px;
font-size: 2rem;
text-align: left;
}
.slider .reserv  {
bottom:220px;

}
.slider .reserv a{
text-decoration:none;
color:white;
font-size:20px;
padding:10px 25px;
background-color:black; 
margin-left:300px;
border-radius: 5px;
}

body {
max-width: 100%;
margin: 0;
}




*{
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border:none;
   text-decoration: none;
   text-transform: capitalize;
}

html{
   font-size: 62.5%;
   overflow-x: hidden;
}

html::-webkit-scrollbar{
   width: 0.5rem;
}

html::-webkit-scrollbar-track{
   background-color: gray;
}

html::-webkit-scrollbar-thumb{
   background-color: gray;
}

.footer{
   background: url(../views/footer/footer-bg.jpg) no-repeat;
   background-size: cover;
   background-position: center;

}

.footer .box-container{
   display: grid;
   margin: 50px;
   grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
   gap: 3rem;
}
.footer .box-container .box {
   margin-top: 50px;
   margin-left: 100px;

}

.footer .box-container .box h3{
   color:whitesmoke;
   font-size: 2.5rem;
   padding-bottom: 2rem;
}

.footer .box-container .box a{
   color:whitesmoke;
   font-size: 1.5rem;
   padding-bottom: 1.5rem;
   display: block;
}

.footer .box-container .box a i{
   color:whitesmoke;
   padding-right: .5rem;
   transition: .2s linear;
}

.footer .box-container .box a:hover i{
   padding-right: 2rem;
}

.footer .credit{
   text-align: center;
   padding-top: 3rem;
   margin-top: 3rem;
   border-top: .1rem solid var(--light-white);
   font-size: 2rem;
   color:whitesmoke;
}

.footer .credit span{
   color:whitesmoke;
}


   

/* media queries  */

@media (max-width:1200px){

   section{
      padding:3rem 5%;
   }

}

@media (max-width:991px){

   html{
      font-size: 55%;
   }

   section{
      padding:3rem 2rem;
   }

   .home .slide .content h3{
      font-size: 10vw;
   }

}

@media (max-width:768px){

   .heading h1{
      font-size: 4rem;
   }

   #menu-btn{
      display: inline-block;
      transition: .2s linear;
   }

   #menu-btn.fa-times{
      transform: rotate(180deg);
   }

   .header .navbar{
      position: absolute;
      top:99%; left:0; right:0;
      background-color: var(--white);
      border-top: var(--border);
      padding:2rem;
      transition: .2s linear;
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
   }

   .header .navbar.active{
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
   }

   .header .navbar a{
      display: block;
      margin:2rem;
      text-align: center;
   }

}

@media (max-width:450px){

   html{
      font-size: 50%;
   }

   .heading-title{
      font-size: 3.5rem;
   }

}

.opinion{
   width: 100%;
   height: 400px;
   background-color: #eefffe;
   padding-top: 50px;
   padding-left: 200px;

}

.opinion  .fixe h2{
   font-size: 28px;
   font-weight: bold;
   padding-bottom: 80px;
   color:#7b8282;
}
.opinion .fixe .div11{
   display: flex;
   flex-wrap: wrap;
   gap: 50px;
   padding-bottom: 10px;
   font-size: 14px;
}
.opinion .fixe .ligne {
   border-bottom: 1px solid black;
   width: 300px;
   margin-bottom: 10px;
}
.opinion .fixe .div12{
   font-size: 14px;
}
.opinion .fixe .div12 h4{
   font-size: 13px;
   color: #333;
   margin-bottom: 8px;
}
.opinion .fixe .comment{
   margin-top: 20px;
   margin-left: 200px;
   padding: 10 20px;
}
.opinion .fixe .comment a{
   display: inline-block;
   background-color: transparent;
   color: #575757;
   font-size: 14px; 
   padding: 8px 16px;
   text-align: center;
   text-decoration: none;
   border-radius: 4px;
   transition: background-color 0.3s ease;
   border: 1px solid black;
}

.card {
   width: 30%;
   display: inline-block;
   perspective: 1000px;
   margin-bottom: 100px;
 }
 
 .card-inner {
   position: relative;
   width: 100%;
   height: 0;
   padding-bottom: 100%;
   transition: transform 0.6s;
   transform-style: preserve-3d;
 }
 
 .card:hover .card-inner {
   transform: rotateY(180deg);
 }
 
 .card-front, .card-back {
   position: absolute;
   width: 100%;
   height: 100%;
   backface-visibility: hidden;
 }
 
 .card-front {
   text-align: center;
 }
 .card-front img {
   width: 400px;
   height: auto;
 }
 
 .card-back {
   transform: rotateY(180deg);
   background-color:#65a399;
   padding: 10px;
   text-align: center;
 }
.card-title{
   font-size: 28px;
   margin-left: 50px;
   font-weight: bold;
   padding-bottom: 80px;
   color:#4b4b4b;
} 


 
 .price-with-cancel {
   text-decoration: line-through;
   color: gray;
   font-size:2rem;
 }
 
 .price-no-cancel {
   font-weight: bold;
   font-size:2rem;
   color: whitesmoke;
 }
 .price-container {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   margin-top: 50px;
 }
 
 .price-text {
   font-size: 12px;
 }
 
 .price-amount {
   font-size: 20px;
   font-weight: bold;
 }

 .reserveer{
   margin-top: 30px;
   justify-content: center;
   padding: 10 20px;
 }
 .reserveer a{
   display: inline-block;
   background-color: transparent;
   color: white;
   font-size: 16px;
   padding: 8px 26px;
   text-align: center;
   text-decoration: none;
   border-radius: 4px;
   transition: background-color 0.3s ease;
   border: 1px solid white;
 }
 .card-back h1{
   font-size: 2.5rem;
   margin-top: 20px;
   color: whitesmoke;
   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }
 .card-back p{
   font-size: 16px;
   color: rgb(82, 82, 82);
   margin-top: 20px;
   line-height: 30px;
 }
 .container iframe{
   width:100%;
   height: 400px;
   margin-top: 5px;
   margin-right: 10px;
 }
 .newsletter_main h1 {
   color: #777474;
   font-size: 2.5rem;
   margin-top: 20px;
   margin-left: 50px;
   margin-bottom: 5px;
 }
 .google a{
   margin-left: 50px;
   color: rgb(61, 59, 59);
   font-size: 16px;
   text-decoration: none;
 }
.container p {
   font-size: 16px;
   margin-top: 5px;
   margin-left: 50px;
   color:#4a4a9c;
   font-family: Arial, Helvetica, sans-serif;
}
/* Style pour la mise en page */
.menu {
   display: flex;
   flex-wrap: wrap;
   gap: 180px;
   margin-left: 20%;
   margin-bottom: 20px;
   margin-top: 30px;
 }
 
 /* Style pour les options du menu */
 .menu-option {
   cursor: pointer;
   color: #000;
   font-size: 1.5rem;
 }
 
 /* Style pour l'option sélectionnée */
 .menu-option.selected {
   color: rgb(0, 0, 0);
 }
 
 /* Style pour le texte */
 .text {
   display:none;
   margin-top: 20px;
   margin-left: 20%;
 }
 
 /* Style pour le texte de l'option sélectionnée */
 .text.selected {
   display: block;
 }
 
 .menu-inter{
   font-size: 3rem;
   margin-top: 130px;
   color: rgb(101, 101, 101);
   margin-bottom: 20px;
   margin-left: 20%;
 }
 
 #text1 h2{
   color:#4b4b4b;
   font-size: 2rem;
   margin-top: 50px;
   margin-bottom: 20px;
 }
 
 #text1 p{
   line-height: 30px;
   font-size: 14px;
   margin-left: 20px;
 }
 
       #text1 {
         justify-content: space-between;
       } 
       
       .div1,
       .div2,
       .div3 {
         display:inline-block;
         width: 30%;
         border-right: 2px dotted #414141;
         box-sizing: border-box;
         margin-right: 30px;
       }
       
       .div3 {
         border-right: none;
       }
       #text2 h2{
         color:#4b4b4b;
         font-size: 2rem;
         margin-top: 50px;
         margin-bottom: 20px;
       }
       
       #text2 p{
         line-height: 30px;
         font-size: 14px;
         margin-left: 20px;
       }
       
             #text3 {
               justify-content: space-between;
             } 
             #text3 h2{
               color:#4b4b4b;
               font-size: 2rem;
               margin-top: 50px;
               margin-bottom: 20px;
             }
             
             #text3 p{
               line-height: 30px;
               font-size: 14px;
               margin-left: 20px;
             }
             
                   #text3 {
                     justify-content: space-between;
                   } 
    
             .containerIM {
               margin-top: 100px;
               position: relative;
               width: 800px;
               height: 600px;
               margin-left: 18%;
               margin-bottom: 100px;
                  
             }
             
             .imageIM {
               position: absolute;
             }
             
             .titleIM {
               position: absolute;
               top: 50%;
               left: 50%;
               transform: translate(-50%, -50%);
               z-index: -1;
               background-color: white;
               padding: 10px;
               font-size: 24px;
               font-weight: bold;
             }



             html{
               font-size: 62.5%;
               overflow-x: hidden;
            }
            
            html::-webkit-scrollbar{
               width: 0.5rem;
            }
            
            html::-webkit-scrollbar-track{
               background-color: gray;
            }
            
            html::-webkit-scrollbar-thumb{
               background-color: gray;
            }
           
            .navbar {
               position: fixed; /* Rend la nav fixe */
               top: 0; /* Fixe la position en haut de la page */
               width: 100%; /* Étend la nav à 100% de la largeur de la page */
               background-color: #fff; /* Couleur de fond de la nav */
               z-index: 999; /* Défini la profondeur d'empilement pour être devant les autres éléments */
               padding: 20px; /* Ajoute de la marge intérieure à la nav pour plus d'espace */
               box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* Ajoute une ombre à la nav pour la rendre plus visible */
               text-align: center;
           
             }
             
             .navbar .langue {
               border: none;
               margin-right: 80px;
               font-size:17px ;
               color: rgb(86, 86, 86);
             }
            
             
             .navbar ul {
               padding: 0; /* Réinitialise la marge intérieure de la liste */
               list-style: none; /* Supprime les puces de la liste */
           
             }
             
             .navbar ul li {
               display: inline-block; /* Affiche les éléments de la liste sur une ligne horizontale */
               margin-left: 20px; /* Ajoute de la marge à gauche pour séparer les éléments de la liste */
             }
             
            
             .navbar ul li a {
               display: block; /* Affiche les liens comme des blocs pour qu'ils remplissent tout l'espace disponible */
               text-decoration: none; /* Supprime les soulignements des liens */
               transition: color 0.2s ease-in-out; /* Ajoute une transition pour la couleur de texte des liens */
               font-size: 18px;
               margin-right: 25px;
             }
             .navbar ul li .a1{
               color: rgb(69, 67, 67);
             }
             .crown i{
               font-size: 22px;
               float: left;
               color:silver;
               margin-right: 100px;
            }
            .reserver a {
               border: solid 1px #c9b395;
               background-color: #c9b395;
               padding:10px;
               border-radius: 2%;
               color: whitesmoke;
            }
            .background-image {
               background-image: url('/public/pics/background-header.jpeg');
               background-size: cover;
               background-position: center center;
               height: 100vh;
               margin-top: 80px;
               align-items: center;
               position: relative;
             }
  
             
             .background-image h1 {
               text-align: center;
               line-height: 500px; /* doit être égale à la hauteur de la div parent */
               font-size: 6rem;
               color:#ffffff;
               font-family: 'Brush Script MT';
             }
             
             .background-image .stars {
               position: absolute;
               bottom: 550px;
               left: 50%;
               transform: translateX(-50%);
             }
             
             .background-image .stars .star {
               color:rgb(102, 102, 102);
               font-size: 3rem;
               margin-right: 10px;
             }
             
             .background-image .address {
               color: #3c3b3b;
               position: absolute;
               bottom: 0;
               font-weight: bold;
               left: 50%;
               font-size: 21px;
               transform: translateX(-50%);
               margin-bottom:350px;
             }
             header{
               margin-top: 100px;
             }
             .dropdown{
               position: absolute;
               top: 250px; /* la même valeur que margin-top de header*/
               right: 100px;
             }
             .rates a{
               text-decoration: none;
               position: absolute;
               color: white;
               font-size: 18px;
               border: solid 1px whitesmoke;
               background-color: transparent;
               padding: 10px 20px;
               top: 250px; /* la même valeur que margin-top de header*/
               float: left;
             }
             .gallary img {
               width: 100%;
               height: 650px;
             }

             .owl-carousel {
               margin-top: 100px;
               margin-bottom: 100px;
               position: relative;
             }

             .owl-carousel .owl-next,
               .owl-carousel .owl-prev {
               height: 50px;
               position: absolute;
               width: 50px;
               cursor: pointer;
               top: 35%;
               background: white !important;
               transition: 0.5s;
               }
               .gallary{
                  position: relative;
               }
               .owl-carousel .owl-prev {
               left: 33px;
               }

               .owl-carousel .owl-next {
               right: 33px;
               }

               .owl-carousel .owl-next:hover,
               .owl-carousel .owl-prev:hover {
               background: #C1B086 !important;
               } 
               .selection{
               position: absolute;
                  font-size: 3rem;
                  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                  color:white;
                  margin-left: 150px;
                  top: 80px;
                 
               }
               .linee{
                  border-bottom: 2px solid white;
                  width: 1200px;
                  margin-top: 150px;
                  position: absolute;
                  margin-left: 150px;
               
               }
               .item h5{
                  position: absolute;
                  font-size: 5rem;
                  font-family:'URW Chancery';
                  color:white;
                  margin-left: 170px;
                  top: 260px;
               }
               .item p{
                  position: absolute;
                  font-size: 2rem;
                  font-family:'Parkavenue';
                  color:white;
                  margin-left: 170px;
                  top: 340px;
                  width: 800px;
                  line-height: 28px;
               }
               .reser a{
                  color: red;
               }
               .item a {
                  position: absolute;
                  font-size: 2rem;
                  color:white;
                  font-weight: bold;
                  border: solid 1px white;
                  padding: 10px 30px;
                  background-color: transparent;
                  margin-left: 1100px;
                  top: 80px;
               }
               .item{
                  position: relative;
                  
               }

               .gallary2{
                  margin-top: -100px;
                  background-color: #e0efef;
                  height: 500px;
                  margin-bottom: 50px;
                  padding-top: 80px;
               }
               .gallary2 h2{
                  font-size: 3rem;
                  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                  color: rgb(91, 90, 90);
                  margin-left: 250px;
                  
               }
               .item1{
                  margin-left: 250px;
               }
               .ligne{
                  border-bottom: 1px solid black;
                  width: 600px;
                  margin-bottom: 10px;
               }
               .item1 h4{
                  color: #575757;
                  margin-bottom: 20px;
               }
               .item1 p{
                  width: 600px;
                  font-size: 17px;
                  line-height: 30px;
                  color: #414141;
               }
               .div11{
                  display: flex;
                  flex-wrap: wrap;
                  color: #3c3b3b;
                  gap:400px;
                  font-size: 18px;
                  margin-bottom: 15px;
               }
                

             
             
             
             
             

           